/* Unmodified bundled fonts; see each font directory for its license. */
@font-face {
  font-family: 'Crackman';
  src: url('./crackman/Crackman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Baumans';
  src: url('./baumans/Baumans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oxanium';
  src: url('./oxanium/Oxanium[wght].ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}
